:root {
  --light-background: #f5f5f5;
  --light-text: #202020;
  --light-primary: #2245e3;
  --light-secondary: #929ecc65;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

nav {
  background-color: transparent;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: var(--light-background);
}
::-webkit-scrollbar-thumb {
  background: var(--light-primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--light-primary);
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.nav_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 25px;
  text-transform: capitalize;
}
.nav_left > a {
  text-decoration: none;
  color: var(--light-text);
}
.nav_left > a:hover {
  color: var(--light-primary);
}
.nav_mid > h1 {
  text-align: center;
  color: var(--light-primary);
}
.nav_right {
  display: flex;
  justify-content: flex-end;
}
.nav_right > button {
  border: none;
  color: var(--light-background);
  background-color: var(--light-primary);
  padding: 5px 35px;
  cursor: pointer;
}

/* ------------------------------ */
/* ----------- HOME ------------- */
/* ------------------------------ */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-top: 250px;
}
.hero_main {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero_main > h1 {
  font-size: 3rem;
}
.hero_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1;
}
.hero_buttons > button {
  cursor: pointer;
  border: none;
  padding: 5px 25px;
}
.hero_purchase {
  color: var(--light-background);
  background-color: var(--light-primary);
}
.hero_learn {
  background-color: transparent;
  color: var(--light-primary);
  border: 1.5px solid var(--light-primary) !important;
}

/* ------------------------------ */
/* --------- SECTION 1 ---------- */
/* ------------------------------ */
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0 200px 0;
  align-items: center;
  gap: 5px;
  margin-top: 300px;
}
.section1_p1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section1_p1 > h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.section1_p2 {
  display: flex;
  align-items: center;
  justify-content: end;
}
.section1_p1_2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.section1_p1_2 > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section1_p1_2 > div > h2 {
  font-weight: 500;
}
.section1_p1_2 > div > i {
  font-size: 1.8rem;
  display: flex;
}

/* ------------------------------ */
/* --------- SECTION 2 ---------- */
/* ------------------------------ */
.section2 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 100px 0 200px 0;
}
.section2_p2 > h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.section2_p1 {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* ------------------------------ */
/* --------- SECTION 5 ---------- */
/* ------------------------------ */
.s5 > img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.s5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
}
.s5 > h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.s5 > p {
  max-width: 500px;
  text-align: center;
}
.s5 > button {
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  color: var(--light-background);
  background-color: var(--light-primary);
  cursor: pointer;
}
.s5_price {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s5_price > h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

/* ------------------------------ */
/* ----------- FOOTER ----------- */
/* ------------------------------ */
footer {
  background-color: var(--light-secondary);
  margin-top: 300px;
  z-index: 2;
}
.footer_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 50px 0;
}
.footer_main > button {
  border: none;
  padding: 5px 20px;
  color: var(--light-background);
  background-color: var(--light-primary);
  cursor: pointer;
}
.footer_p2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 80px 0;
}
footer > hr {
  border: 0.1px solid var(--light-secondary);
}
.footer_p2_1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer_p2_1 > a {
  color: var(--light-text);
  text-decoration: none;
}
.footer_p2_1 > a:hover {
  color: var(--light-primary);
}
.footer_p2_2 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_p2_2 > a {
  text-decoration: none;
  color: var(--light-text);
}
.footer_p2_2 > a:hover {
  color: var(--light-primary);
}

/* --------------------- */
/* ------ ABOUT -------- */
/* --------------------- */
.four6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.about_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 100px;
}
.about_p1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_img {
  width: 400px;
}
.about_p2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

@media screen and (max-width: 1440px) {
  .s5 {
    margin-bottom: -200px;
  }
  .hero_main > h1 {
    font-size: 2rem;
  }
  .section1_p1 > h1,
  .section2_p2 > h1,
  .s5_price > h1,
  .s5 > h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1090px) {
  .s5 {
    margin-bottom: -250px;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    margin-top: 80px;
  }
  .hero_main {
    width: auto;
  }
  .hero_main > h1 {
    font-size: 1.5rem;
  }
  .section1 {
    margin-top: 0;
    grid-template-columns: 1.5fr 1fr;
    padding-bottom: 0;
    gap: 20px;
  }
  .section1_p2 > img,
  .section2_p1 > img {
    width: 100%;
  }
  .section2 {
    grid-template-columns: 1fr 1.5fr;
    padding-bottom: 0;
    gap: 20px;
  }
  .s5 {
    margin-top: 200px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section1 {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section1_p2 > img,
  .section2_p1 > img {
    width: 50%;
  }
  .section1_p2,
  .section2_p1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .s5 {
    margin-bottom: -280px;
  }
}
@media screen and (max-width: 600px) {
  .nav_main {
    grid-template-columns: 1fr 1fr;
  }
  .nav_mid > h1 {
    text-align: right;
  }
  .nav_right {
    display: none;
  }
  .section1_p1_2 {
    flex-direction: column;
  }
  .footer_main > h1 {
    display: none;
  }
  .s5 {
    padding-bottom: 100px;
  }
}
